#container {
  width: 45px;
  background-color: lightblue;
  height: 110px;
  padding-top: 5px;
  padding-left: 2px;
  padding-bottom: 10px;
  border: 2px solid black;
}

#red {
  width: 30px;
  height: 30px;
  background-color: red;
  margin: 5px;
  border-radius: 50%;
  border: 2px solid black;
}
#yellow {
  width: 30px;
  height: 30px;
  background-color: yellow;
  margin: 5px;
  border-radius: 50%;
  border: 2px solid black;
}
#green {
  width: 30px;
  height: 30px;
  background-color: green;
  margin: 5px;
  border-radius: 50%;
  border: 2px solid black;
}
